if SHIELD_TYPEBOY_EXP_LEFT

config ZMK_KEYBOARD_NAME
    default "TypeBoy Advance"

endif

if SHIELD_TYPEBOY_EXP_LEFT || SHIELD_TYPEBOY_EXP_RIGHT

config ZMK_SPLIT
    default y

config SPI
    default y

config ZMK_DISPLAY
	select LV_FONT_MONTSERRAT_28

config LS0XX
	default y
    
config ZMK_DISPLAY_INVERT
	default y

endif